<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="Ember-Table Starter Kit" />
    <meta charset="utf-8">
    <title>Ember Table Starter Kit</title>

    <!-- Note that you need antiscroll CSS to support ember-table -->
    <link rel="stylesheet" href="http://rawgit.com/LearnBoost/antiscroll/master/antiscroll.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/2.1.0/normalize.css">
    <link rel="stylesheet" href="http://rawgit.com/Addepar/ember-table/v0.2.0/dist/ember-table.css">

    <!-- Ember and dependencies -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.js"></script>
    <script src="http://builds.emberjs.com/tags/v1.4.0/ember.js"></script>

    <!-- Ember Table and dependencies -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.2/jquery-ui.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.6/jquery.mousewheel.js"></script>
    <script src="http://rawgit.com/LearnBoost/antiscroll/master/antiscroll.js"></script>
    <script src="http://rawgit.com/Addepar/ember-table/v0.2.0/dependencies/ember-addepar-mixins/resize_handler.js"></script>
    <script src="http://rawgit.com/Addepar/ember-table/v0.2.0/dependencies/ember-addepar-mixins/style_bindings.js"></script>
    <script src="http://rawgit.com/Addepar/ember-table/v0.2.0/dist/ember-table.js"></script>
</head>
<body>
<style>
    /* Put your CSS here */
    html, body {
        margin: 20px;
    }

    .table-container {
        height: 1000px;
    }
</style>

<script type="text/x-handlebars" data-template-name="index">
    <div class="table-container">
      {{table-component
        hasFooter=false
        columnsBinding="columns"
        contentBinding="content"
      }}
    </div>
</script>


<script>

    App = Ember.Application.create();

    App.IndexRoute = Ember.Route.extend({
        controllerName: 'application'
    });

    App.ApplicationController = Ember.Controller.extend({
        numRows: 1000,

        columns: function() {
            var idColumn, dateColumn, openColumn, highColumn, lowColumn, closeColumn;
            idColumn = Ember.Table.ColumnDefinition.create({
                columnWidth: 150,
                textAlign: 'text-align-left',
                headerCellName: 'ID',
                getCellContent: function(row) {
                    return row.id;
                }
            });

            dateColumn = Ember.Table.ColumnDefinition.create({
                columnWidth: 150,
                textAlign: 'text-align-left',
                headerCellName: 'Date',
                getCellContent: function(row) {
                    return row.date.toDateString();
                }
            });
            openColumn = Ember.Table.ColumnDefinition.create({
                columnWidth: 100,
                headerCellName: 'Open',
                getCellContent: function(row) {
                    return row.open.toFixed(2);
                }
            });
            highColumn = Ember.Table.ColumnDefinition.create({
                columnWidth: 100,
                headerCellName: 'High',
                getCellContent: function(row) {
                    return row.high.toFixed(2);
                }
            });
            lowColumn = Ember.Table.ColumnDefinition.create({
                columnWidth: 100,
                headerCellName: 'Low',
                getCellContent: function(row) {
                    return row.low.toFixed(2);
                }
            });
            closeColumn = Ember.Table.ColumnDefinition.create({
                columnWidth: 100,
                headerCellName: 'Close',
                getCellContent: function(row) {
                    return row.close.toFixed(2);
                }
            });
            return [idColumn, dateColumn, openColumn, highColumn, lowColumn, closeColumn];
        }.property(),

        content: function() {
            var generatedContent = [];
            for (var i = 0; i < this.get('numRows'); i++) {
                var date = new Date();
                date.setDate(date.getDate() + i);
                generatedContent.push({
                    id: i,
                    date: date,
                    open:  Math.random() * 100,
                    high:  Math.random() * 100 + 50,
                    low:   Math.random() * 100 - 50,
                    close: Math.random() * 100
                });
            }
            return generatedContent;
        }.property('numRows')
    });

</script>



</body>
</html>