<!DOCTYPE html>
<html>
<head>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0-rc.4/handlebars.js"></script>
    <script src="http://builds.emberjs.com.s3.amazonaws.com/ember-1.0.0-rc.6.js"></script>

    <style> body { padding: 30px; }</style>

    <meta charset=utf-8 />
    <title>Simple Sorting w/Ember.js</title>

    <script type="text/x-handlebars">
    <h3>Table Sorting with Ember.js</h3>
    
    <p>Made by <a href="http://hawkins.io">Adam Hawkins</a></p>
    
    <table class="table table-striped">
      <thead>
        <tr>
          {{#each columns itemController="columnItem"}}
            <th {{action toggleSort name}}>
            {{titleize name}}
            {{#if sortedAsc}}
              <i class="icon-chevron-up"></i>
            {{/if}}
            
            {{#if sortedDesc}}
              <i class="icon-chevron-down"></i>
            {{/if}}
            </th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        {{#each controller}}
          <tr>
            <td>{{product}}</td>
            <td>{{currency price}}</td>
            <td>{{date purchased}}</td>
            <td>{{date ship}}</td>
          </tr>
        {{/each}}
      </tbody>
      <tfoot>
        <tr>
          <td>Total</td>
          <td colspan="3"><strong>{{currency total}}</strong></td>
        </tr>
      </tfoot>    
    </table>

  </script>

</head>
<body>

<script>
    window.App = Ember.Application.create();

    App.ApplicationRoute = Ember.Route.extend({
        model: function() {
            var table = Ember.A();

            var randomUpTo = function(max) {
                return Math.floor((Math.random()*max)+1);
            };

            for(var i = 0; i < 5; i++) {
                table.pushObject(Ember.Object.create({
                    product: "Product " + Math.floor(Math.random() * 100),
                    price: Math.random() * 100,
                    purchased: new Date(2013, randomUpTo(11), randomUpTo(28)),
                    ship: new Date(2013, randomUpTo(11), randomUpTo(28))
                }));
            }

            return table;
        }
    });

    App.ApplicationController = Ember.ArrayController.extend({
        sortedColumn: (function() {
            var properties = this.get('sortProperties');
            if(!properties) return undefined;
            return properties.get('firstObject');
        }).property('sortProperties.[]'),

        columns: (function() {
            return [
                Ember.Object.create({name: 'product'}),
                Ember.Object.create({name: 'price'}),
                Ember.Object.create({name: 'purchased'}),
                Ember.Object.create({name: 'ship'})
            ];
        }).property(),

        toggleSort: function(column) {
            if(this.get('sortedColumn') == column) {
                this.toggleProperty('sortAscending');
            } else {
                this.set('sortProperties', [column]);
                this.set('sortAscending', true);
            }
        },

        total: (function() {
            return this.reduce(function(counter, item) {
                return counter + item.get('price');
            }, 0);
        }).property('@each.price')
    });

    App.ColumnItemController = Ember.ObjectController.extend({
        sortColumn: Ember.computed.alias('parentController.sortedColumn'),
        sortAscending: Ember.computed.alias('parentController.sortAscending'),
        sortDescending: Ember.computed.not('sortAscending'),

        isSorted: (function() {
            return this.get('sortColumn') === this.get('name');
        }).property('sortColumn', 'name'),

        sortedAsc: Ember.computed.and('sortAscending', 'isSorted'),
        sortedDesc: Ember.computed.and('sortDescending', 'isSorted')
    });

    Ember.Handlebars.helper('titleize', function(value, options) {
        var title = value.replace(/^([a-z])/, function(match) {
            return match.toUpperCase();
        });

        var escaped = Handlebars.Utils.escapeExpression(title);
        return new Handlebars.SafeString(escaped);
    });

    Ember.Handlebars.helper('date', function(value, options) {
        var escaped = Handlebars.Utils.escapeExpression(value.toLocaleDateString());
        return new Handlebars.SafeString(escaped);
    });

    Ember.Handlebars.helper('currency', function(value, options) {
        var escaped = Handlebars.Utils.escapeExpression("$" + value.toFixed(2));
        return new Handlebars.SafeString(escaped);
    });


</script>

</body>
</html>