<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="Recipe: Using a Modal Dialog" />
    <title>Recipe: Using a Modal Dialog</title>
    <link rel="stylesheet" href="https://rawgithub.com/emberjs/starter-kit/v1.0.0/css/normalize.css">
</head>
<body>

<script type="text/x-handlebars">
    {{outlet}}
    {{outlet modal}}
  </script>

<script type="text/x-handlebars" data-template-name="index">
    <h4>The current name is: {{name}}</h5>
    {{outlet}}
    <button {{action 'openModal' 'modal' model}}>Change Name</button>
  </script>

<script type="text/x-handlebars" data-template-name="modal">
    {{#modal-dialog action="close"}}
      <h3 class="flush--top">Name Change Modal</h5>
      <p>Enter a new name:</p>
      <p>{{input value=name}}</p>
      <button {{action "close"}}>Done</button>
    {{/modal-dialog}}
  </script>

<!--<script type="text/x-handlebars" id="components/modal-dialog">-->
    <!--<div class="overlay" {{action "close"}}> -->
    <!--</div>-->
    <!--<div class="modal">-->
      <!--{{yield}}-->
    <!--</div>-->
  <!--</script>-->

<script src="https://rawgithub.com/emberjs/starter-kit/v1.0.0/js/libs/jquery-1.9.1.js"></script>
<script src="https://rawgithub.com/emberjs/starter-kit/v1.0.0/js/libs/handlebars-1.0.0.js"></script>
<script src="http://builds.emberjs.com/tags/v1.4.0/ember.js"></script>
<script src="js/modal.js"></script>

</body>
</html>