<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="Ember-Table Starter Kit" />
    <meta charset="utf-8">
    <title>Ember Table Starter Kit</title>

    <!-- Note that you need antiscroll CSS to support ember-table -->
    <link rel="stylesheet" href="stylesheets/libs/antiscroll.css">
    <link rel="stylesheet" href="stylesheets/libs/normalize.css">
    <link rel="stylesheet" href="stylesheets/libs/ember-table.css">
    <link rel="stylesheet" href="stylesheets/style.css">

    <!-- Ember and dependencies -->
    <script src="js/libs/jquery-1.10.2.js"></script>
    <script src="js/libs/handlebars.js"></script>
    <script src="js/libs/ember-1.4.0.js"></script>

    <!-- Ember Table and dependencies -->
    <script src="js/libs/jquery-ui-1.10.2.js"></script>
    <script src="js/libs/jquery.mousewheel.js"></script>
    <script src="js/libs/antiscroll.js"></script>
    <script src="js/libs/ember-addepar-mixins/resize_handler.js"></script>
    <script src="js/libs/ember-addepar-mixins/style_bindings.js"></script>
    <script src="js/libs/ember-table.js"></script>

    <!-- My dependencies -->
    <script src='js/csv.js'></script>
    <script src="js/application.js"></script>
    <script src="js/router.js"></script>
    <script src="js/controllers/application_controller.js"></script>
    <script src="js/views/application_view.js"></script>


</head>

<body>
    <script> var csvFile = new CSV(); </script>
    <!--<input type="file" id="file" {{action "selectFile" on="change"}} contentBinding="selectedFile">-->
    <script type="text/x-handlebars" data-template-name="application">
        <h2> Applicants List</h2>
        <input type="file" id="file" {{action "file_upload" on="change"}}>
        <br><br>
         {{total}}
        {{outlet}}
    </script>

    <script type="text/x-handlebars"  data-template-name="index">
        <div class="table-container">

 {{numRows}}
        </div>
    </script

</body>
</html>